In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('helpdesk.csv')

In [3]:
df

,start_date,priority,experience_cat,team_size,budget,type,status,end_date
0,2025-04-01,medium,medium,7,43200,bug,completed,2025-05-30
1,2025-04-01,medium,medium,4,36800,feature,completed,2025-04-23
2,2025-04-01,medium,low,3,47700,bug,completed,2025-04-29
3,2025-04-01,medium,low,9,37000,chore,completed,2025-05-31
4,2025-04-01,medium,medium,4,58500,chore,completed,2025-04-15
...,...,...,...,...,...,...,...,...
8110,2025-10-31,medium,medium,8,60200,bug,ongoing,NaN
8111,2025-10-31,high,medium,4,71400,feature,ongoing,NaN
8112,2025-10-31,medium,low,7,41100,bug,ongoing,NaN
8113,2025-10-31,high,high,8,13400,bug,ongoing,NaN
8114,2025-10-31,high,medium,8,73400,bug,ongoing,NaN