In [3]:
# importeer libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.arima.model import ARIMA
import seaborn as sns
sns.set_style('whitegrid')
import statsmodels
import scipy
from scipy.stats import norm
import math
import numpy as np
import statsmodels.tsa.seasonal
import statsmodels.graphics.tsaplots
import matplotlib
import lifelines

In [9]:
df = pd.read_csv('helpdesk.csv')
df["start_date"] = pd.to_datetime(df["start_date"], format="%Y-%m-%d")
df["end_date"]   = pd.to_datetime(df["end_date"],   format="%Y-%m-%d", errors="coerce")

In [10]:
df['status']

0       completed
1       completed
2       completed
3       completed
4       completed
          ...
8110      ongoing
8111      ongoing
8112      ongoing
8113      ongoing
8114      ongoing
Name: status, Length: 8115, dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8115 entries, 0 to 8114
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   start_date      8115 non-null   datetime64[ns]
 1   priority        8115 non-null   object
 2   experience_cat  8115 non-null   object
 3   team_size       8115 non-null   int64
 4   budget          8115 non-null   int64
 5   type            8115 non-null   object
 6   status          8115 non-null   object
 7   end_date        6846 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 507.3+ KB

In [14]:
df_ibs = pd.DataFrame()

df_ibs = pd.get_dummies(df, columns=['priority', 'experience_cat'], drop_first=False)
df_ibs["Event"] = df["status"].map({'completed': 1, 'ongoing': 0, 'cancelled': 0})
df_ibs['Censoring'] = df['status'] == 'cancelled'
df_ibs['priority'] = df['priority']
df_ibs['team_size'] = df['team_size']
df_ibs['budget'] = df['budget']

df_ibs["stop_date"] = df_ibs["end_date"]
cutoff = df_ibs["start_date"].max()  # of een vaste datum, of df_ibs["start_date"].max()

df_ibs.loc[df_ibs["stop_date"].isna(), "stop_date"] = cutoff
df_ibs["Survival_time"] = (df_ibs["stop_date"] - df_ibs["start_date"]).dt.days


df_ibs

,start_date,team_size,budget,type,status,end_date,priority_high,priority_low,priority_medium,experience_cat_high,experience_cat_low,experience_cat_medium,Event,Censoring,priority,stop_date,Survival_time
0,2025-04-01,7,43200,bug,completed,2025-05-30,False,False,True,False,False,True,1,False,medium,2025-05-30,59
1,2025-04-01,4,36800,feature,completed,2025-04-23,False,False,True,False,False,True,1,False,medium,2025-04-23,22
2,2025-04-01,3,47700,bug,completed,2025-04-29,False,False,True,False,True,False,1,False,medium,2025-04-29,28
3,2025-04-01,9,37000,chore,completed,2025-05-31,False,False,True,False,True,False,1,False,medium,2025-05-31,60
4,2025-04-01,4,58500,chore,completed,2025-04-15,False,False,True,False,False,True,1,False,medium,2025-04-15,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8110,2025-10-31,8,60200,bug,ongoing,NaT,False,False,True,False,False,True,0,False,medium,2025-10-31,0
8111,2025-10-31,4,71400,feature,ongoing,NaT,True,False,False,False,False,True,0,False,high,2025-10-31,0
8112,2025-10-31,7,41100,bug,ongoing,NaT,False,False,True,False,True,False,0,False,medium,2025-10-31,0
8113,2025-10-31,8,13400,bug,ongoing,NaT,True,False,False,True,False,False,0,False,high,2025-10-31,0
8114,2025-10-31,8,73400,bug,ongoing,NaT,True,False,False,False,False,True,0,False,high,2025-10-31,0